<% if @review.errors.present? %>
  alert("The review should contain at least 20 characters");
<% else %>
  $('#show-reviews').append('<li><%= @review.body %></li>');
  $('#add-review-form')[0].reset();
<% end %>
