<footer role="navigation">
  <div class="navbar navbar-default navbar-bottom">
    <div class="container"> 
      <div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">
          <li><a>@Square63</a></li>
          <li><a>Careers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Cart', carts_show_path, class:"glyphicon glyphicon-shopping-cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
